{% embed 'base.html.twig' %}
    {% block body %}
        <h1>Se connecter</h1>

        {% if error %} {{ error.message }} {% endif %}

        <form action="" method="post">
            <div class="form-group">
                <label for="login">Votre login :</label>
                <input type="text" name="_username" class="form-control" id="login" placeholder="Login" value="{{last_username}}">
            </div>
            <div class="form-group">
                <label for="mdp">Votre mot de passe :</label>
                <input type="password" name="_password" class="form-control" id="mdp" placeholder="Mot de passe">
            </div>

            <button type="submit" class="btn btn-default">Se connecter</button>
        </form>


        <div class="form-help">
            <h3>Compte administrateur</h3>
            <p>Login : admin</p>
            <p>Mot de passe : mdp</p>
            <hr>
            <h3>Compte utilisateur</h3>
            <p>Login : toto</p>
            <p>Mot de passe : mdp</p>
        </div>

        {#
        <form action="" method="post">

            <label for="login">Login: </label> <input type="text" name="_username" id="login" value="{{last_username}}">

            <label for="mdp">Mdp: </label> <input type="password" name="_password" id="mdp">

            <input type="submit" value="Envoyer">

        </form>#}
    {% endblock %}
{% endembed %}
