{% embed "base.html.twig" %}
    {% block body %}
        <h1>Les articles</h1>

        <table>
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Aticles</th>
                    <th>Date</th>
                    <th>Dernière modification</th>
                </tr>
            </thead>

            <tbody>
                {% for article in articles %}

                {% endfor %}
            </tbody>
        </table>

    {% endblock %}
{% endembed %}