{% embed 'base.html.twig' %}
    {% block body %}
        <h1>Le backoffice</h1>

        <a href="#">Gerer les articles</a>
        <a href="#">Gerer les articles</a>

    {% endblock %}

{% endembed %}